body {
  background: white;
  font-family: Helvetica, serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch {
  font-family: 'Space Mono', monospace;
  color: #E88B8C;
  font-size: 100px;
  letter-spacing: 0.2em;
  position: relative;
  width: 530px;
  margin: 0 auto;
}

.banner {
  position: fixed;
  top: 30px;
  right: 30px;
}

.banner a {
  color: #E88B8C;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed #E88B8C;
  transition: all 300ms ease;
}

.banner a:hover {
  color: #00ffff;
  border-bottom: 1px solid #00ffff;
}

@keyframes noise-anim {
  0% {
    clip: rect(78px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(56px, 9999px, 4px, 0);
  }
  10% {
    clip: rect(17px, 9999px, 2px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(62px, 9999px, 62px, 0);
  }
  25% {
    clip: rect(61px, 9999px, 37px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(67px, 9999px, 27px, 0);
  }
  40% {
    clip: rect(9px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(87px, 9999px, 76px, 0);
  }
  50% {
    clip: rect(37px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 23px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 37px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 47px, 0);
  }
  70% {
    clip: rect(95px, 9999px, 26px, 0);
  }
  75% {
    clip: rect(78px, 9999px, 17px, 0);
  }
  80% {
    clip: rect(22px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  90% {
    clip: rect(72px, 9999px, 79px, 0);
  }
  95% {
    clip: rect(31px, 9999px, 38px, 0);
  }
  100% {
    clip: rect(49px, 9999px, 82px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #E88B8C;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(28px, 9999px, 73px, 0);
  }
  5% {
    clip: rect(22px, 9999px, 89px, 0);
  }
  10% {
    clip: rect(55px, 9999px, 84px, 0);
  }
  15% {
    clip: rect(14px, 9999px, 34px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 76px, 0);
  }
  25% {
    clip: rect(69px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(94px, 9999px, 52px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(14px, 9999px, 81px, 0);
  }
  45% {
    clip: rect(54px, 9999px, 92px, 0);
  }
  50% {
    clip: rect(38px, 9999px, 28px, 0);
  }
  55% {
    clip: rect(93px, 9999px, 26px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 68px, 0);
  }
  65% {
    clip: rect(19px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 90px, 0);
  }
  75% {
    clip: rect(47px, 9999px, 21px, 0);
  }
  80% {
    clip: rect(30px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(96px, 9999px, 13px, 0);
  }
  90% {
    clip: rect(39px, 9999px, 23px, 0);
  }
  95% {
    clip: rect(67px, 9999px, 44px, 0);
  }
  100% {
    clip: rect(47px, 9999px, 90px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #E88B8C;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.btn-link {
  position: relative;
  display: inline-block;
  color: #FFF;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  z-index: 1;
}
.btn-link:before,
.btn-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-link:before {
  background-color: #00ffff;
  z-index: -1;
}
.btn-link:after {
  background-color: #ff00ff;
  z-index: -2;
}
.btn-link:hover .link-inner {
  -webkit-animation: glitchy 0.3s ease 1;
          animation: glitchy 0.3s ease 1;
}
.btn-link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}
.btn-link:hover:after {
  -webkit-animation: glitchy 0.3s ease infinite reverse;
          animation: glitchy 0.3s ease infinite reverse;
}
.link-inner {
  display: block;
  height: 100%;
  background-color: #E88B8C;
  padding: 15px 25px;
}
.text-link {
  position: relative;
  display: inline-block;
  font-size: 45px;
  text-decoration: none;
  color: #fff;
  z-index: 1;
}
.text-link:before,
.text-link:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-link:before {
  color: #00ffff;
  z-index: -1;
}
.text-link:after {
  color: #ff00ff;
  z-index: -2;
}
.text-link:hover:before {
  -webkit-animation: glitchy 0.3s ease 0.3s infinite;
          animation: glitchy 0.3s ease 0.3s infinite;
}
.text-link:hover:after {
  -webkit-animation: glitchy 0.3s ease infinite reverse;
          animation: glitchy 0.3s ease infinite reverse;
}
.line-link {
  position: relative;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  letter-spacing: 0.10em;
  color: #fff;
  font-weight: lighter;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  padding-bottom: 10px;
}
.line-link:before,
.line-link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  visibility: hidden;
}
.line-link:before {
  background-color: #00ffff;
  z-index: -1;
}
.line-link:after {
  background-color: #ff00ff;
  z-index: -2;
}
.line-link:hover:before {
  visibility: visible;
  -webkit-animation: line-glitchy 0.3s ease 0.3s infinite;
          animation: line-glitchy 0.3s ease 0.3s infinite;
}
.line-link:hover:after {
  visibility: visible;
  -webkit-animation: line-glitchy 0.3s ease infinite reverse;
          animation: line-glitchy 0.3s ease infinite reverse;
}
@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
@keyframes glitchy {
  0% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  25% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  50% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  75% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
}
