* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(../fonts/space-mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  background: #F7F7F7;
  color: #871B1D;
  -webkit-app-region: drag;
  font-family: Helvetica, sans-serif;
  overflow: auto;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.title {
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 4em;  /*background: #243443;*/

  /*border: 0.1em dotted #19242f;*/
  color: #E88B8C;
  width: 100%;
  height: 3em;  /*background: blue;*/
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2s jello ease;
  animation-iteration-count: 2;
  animation-direction: alternate, reverse;
  animation-delay: .1s;
  margin-top: -20px;
  margin-bottom: 40px;
}

#sample {
  margin-top: -120px;
  height: 460px;
  background: #000;
  overflow: hidden;
}

#sample video {
  opacity: 0.5;
}

.bar {
  margin-top: -80px;
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;  /*background: #000;*/
  position: relative;
  z-index: 0;
}

.bar-item {
  position: relative;
  z-index: 9;
  margin-top: -30px;
  padding: 0 10px;
}

footer {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  background: #E88B8C;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  transition: all 300ms ease;
}

footer a:hover {
  opacity: 0.8;
}

@keyframes jello {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  animation-name: jello;
  transform-origin: center;
}


.animated-button:link,
.animated-button:visited {
  position: relative;
  display: block;
  margin: 0px auto 0;
  padding: 14px 15px;
  color: #D24D57;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;
  border-radius: 0;    /*text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animated-button:link:after,
.animated-button:visited:after {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 150%;
  z-index: -1;
  -webkit-transition: all 0.75s ease 0s;
  -moz-transition: all 0.75s ease 0s;
  -o-transition: all 0.75s ease 0s;
  transition: all 0.75s ease 0s;
}

.animated-button:link:hover,
.animated-button:visited:hover {
  color: #FFF;
  text-shadow: none;
}

.animated-button:link:hover:after,
.animated-button:visited:hover:after {
  height: 450%;
}

.animated-button:link,
.animated-button:visited {
  position: relative;
  display: block;
  margin: 30px auto 0;
  padding: 14px 15px;
  color: #D24D57;
  font-size: 14px;
  border-radius: 0;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .08em;    /*text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.animated-button.victoria-one {
  border: 2px solid #D24D57;
}

.animated-button.victoria-one:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

.animated-button.victoria-two {
  border: 2px solid #D24D57;
}
.animated-button.victoria-two:after {
  background: #D24D57;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
  transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

#player {
  z-index: -9999;
  display: none;
}

#player.playing {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: black;
}
