* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

iframe, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

textarea, input, button { outline: none; }

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(../fonts/space-mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html, body {
  background: #FFFBD5;
  color: white;
  -webkit-app-region: drag;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.title {
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 4em;
  text-shadow: 5px 1px #2DC0D3;
  color: #FC4C00;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  /*animation: 2s bounceIn ease;
  animation-iteration-count: 1;
  animation-direction: alternate, reverse;
  animation-delay: .1s;*/
  margin-top: -20px;
  margin-bottom: 40px;
}

#video-info {
  position: absolute;
  top: 45%;
  left: 5%;
  font-size: 3.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: monospace;
  word-break: break-all;
  display: none;
  text-shadow: 1px 1px 5px #000;
}

#video-info:hover {
  text-shadow: 1px 1px 5px #2DC0D3;
}

#video-info-thumb {
  display: none;
  opacity: 0.7;
  width: 100%;
}

#status {
  position: absolute;
  right: 0;
  padding: 14px;
  background: #2DC0D3;
  z-index: 99999;
  text-transform: uppercase;
  visibility: hidden;
  opacity: 0.0;
  transition: all 300ms ease;
}

#status.downloading {
  opacity: 0.7;
  visibility: visible;
}

#sample {
  position: relative;
  margin-top: -8em;
  height: 29em;
  background: #000;
  overflow: hidden;
}

#sample video {
  opacity: 0.4;
  -webkit-filter: sepia(1);
}

.bar {
  margin-top: -60px;
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: relative;
  z-index: 0;
}

.bar-item {
  position: relative;
  z-index: 9;
  margin-top: -30px;
  padding: 0 10px;
}

footer {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  background: #34465D;
  border-top: 14px solid #D60012;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
}

footer:after, footer:before {
  content: '';
  position: fixed;
  bottom: 42px;
  left: 0;
  width: 100%;
  border-top: 14px solid #FC4C04;
}

footer:after {
  bottom: 54px;
  border-top: 14px solid #F9C04C;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  transition: all 300ms ease;
}

footer a:hover {
  opacity: 0.8;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

#player {
  z-index: -9999;
  display: none;
}

#player.playing {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: black;
}

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Space Mono';
  text-transform: lowercase;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  padding: 14px;
  text-shadow: 2px 2px #431B11;
  background-color: #431B11;
  color: #F8ECD7;
  border: 3px solid #E0A734;
  border-radius: 2px;
  font-size: 21px;
  margin-bottom: 16px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn--stripe {
  overflow: hidden;
  position: relative;
}

.btn--stripe:after {
  content: '';
  display: block;
  height: 7px;
  width: 100%;
  background-image: -webkit-repeating-linear-gradient(45deg, #E0A734, #E0A734 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(45deg, #E0A734, #E0A734 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #E0A734;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}

.btn--stripe:hover {
  background-color: #F9C04C;
  color: #2DC0D3;
  border-color: #2DC0D3;
}

.btn--stripe:hover:after {
  background-image: -webkit-repeating-linear-gradient(45deg, #2DC0D3, #2DC0D3 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(45deg, #2DC0D3, #2DC0D3 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #2DC0D3;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}

@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-height: 600px) {
  footer {
    display: none;
  }

  #sample {
    height: 400px;
  }
}

@media (min-width: 1080px) and (min-height: 780px) {
  #sample {
    margin-top: -12em;
    height: 43em;
  }
}

*::selection {
  background: #2DC0D3;
}
